@import "tailwindcss";

* button {
  cursor: pointer;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .line-clamp-4 {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.main-text {
  color: #fa7407;
}

.main-bg {
  background-color: #fa7407;
}

@theme inline {
  --screen-xxs: 320px;
  --screen-xs: 480px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-exlg: 931px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
}
